<div class="table-container">
  <div class="table-card">
    <div class="header-group">
      <h2 class="TitleCustomer">Danh sách khách hàng</h2>
      <button nz-button nzSize="large" nzType="primary" (click)="prepareAdd()">
        <span nz-icon nzType="plus"></span> Thêm khách hàng
      </button>
    </div>
    <nz-table #basicTable [nzData]="displayData" 
    [nzFrontPagination]="false"
    [nzLoading]="loading" 
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [(nzPageIndex)]="pageIndex" 
    (nzPageIndexChange)="loadDataFromServer($event, pageSize)"
    nzSize="middle" nzBordered>

      <thead>
        <tr>
          <th>Mã khách hàng</th>
          <th>Họ và tên</th>
          <th>Tuổi</th>
          <th>Địa chỉ</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.customerCode }}</td>
          <td>{{ data.fullName }}</td>
          <td>{{ data.age }}</td>
          <td>{{ data.address }}</td>
          <td>
            <span (click)="viewCustomerDetail(data)" nz-icon nzType="eye"></span>
            <nz-divider nzType="vertical"></nz-divider>
            <span (click)="editCustomer(data)" nz-icon nzType="edit"></span>
            <nz-divider nzType="vertical"></nz-divider>
            <span class="iconDelete" (click)="showDeleteModal(data.id)" nz-icon nzType="delete"></span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" 
  [nzTitle]="isEdit ? 'Sửa thông tin khách hàng' : 'Thêm mới khách hàng'"
  [nzWidth]="800" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <!-- Đợi thực hiện click nút mới dựng các ô input -->
    <form nz-form [formGroup]="validateForm" nzLayout="vertical">
      <!-- khai báo form này chịu sự quản lý của validateForm đã khai báo  và nhãn label nằm trên ô input nằm dưới -->
      <nz-form-item>
        <nz-form-label nzRequired>Mã khách hàng</nz-form-label>
        <nz-form-control [nzErrorTip]="codeErrorTpl">
          <input nz-input formControlName="customerCode" placeholder="Ví dụ: KH011" />
          <ng-template #codeErrorTpl let-control>
            @if (control.hasError('required')) {
            <span>Vui lòng không để trống mã!</span>
            }
            @if (control.hasError('duplicated')) {
            <span class="warningCustomerCode">Mã khách hàng này đã tồn tại trong hệ thống!</span>
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Họ và tên</nz-form-label>
        <nz-form-control nzErrorTip="Vui lòng nhập họ tên!">
          <input nz-input formControlName="fullName" placeholder="Nhập tên khách hàng" />
        </nz-form-control>
      </nz-form-item>

      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired>Tuổi</nz-form-label>
            <nz-form-control nzErrorTip="Nhập tuổi!">
              <nz-input-number formControlName="age" [nzMin]="1" [nzMax]="150" style="width: 100%;"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="16">
          <nz-form-item>
            <nz-form-label nzRequired>Địa chỉ</nz-form-label>
            <nz-form-control nzErrorTip="Nhập địa chỉ!">
              <input nz-input formControlName="address" placeholder="Thành phố..." />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </form>
  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="isVisibleDelete" nzTitle="Xác nhận hành động" (nzOnCancel)="handleCancelDelete()"
  (nzOnOk)="handleOkDelete()" nzOkText="Đồng ý xóa" nzCancelText="Bỏ qua" [nzOkDanger]="true">
  <ng-container *nzModalContent>
    <div class="PopupDeleteCustomer">
      <span class="inconWarringInPopupConfirmDelete" nz-icon nzType="warning" nzTheme="outline"></span>
      <p class="textConfirDelete">
        Bạn có chắc chắn muốn xóa khách hàng này không? Hành động này không thể hoàn tác.
      </p>
    </div>
  </ng-container>
</nz-modal>



<nz-modal [(nzVisible)]="isVisibleDetail" nzTitle="Thông tin chi tiết khách hàng" (nzOnCancel)="handleCloseDetail()"
  [nzFooter]="null">
  <ng-container *nzModalContent>
    <div *ngIf="selectedCustomer">
      <nz-descriptions nzBordered [nzColumn]="1">
        <nz-descriptions-item nzTitle="Mã khách hàng">
          <strong class="CodeCustomerDetail">{{ selectedCustomer.customerCode }}</strong>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Họ và tên">
          {{ selectedCustomer.fullName }}
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Tuổi">
          {{ selectedCustomer.age }} tuổi
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Địa chỉ">
          {{ selectedCustomer.address }}
        </nz-descriptions-item>
      </nz-descriptions>

      <div class="PopupViewCustomerDetail">
        <button nz-button nzType="primary" (click)="handleCloseDetail()">Đóng lại</button>
      </div>
    </div>
  </ng-container>
</nz-modal>